td{
    text-align: center;
background-color: lightblue ;
border-style: solid;
border-width: 2px;
border-color: black;
width: 3cm;
height: 2cm;
border-radius: 5px;
}
tr:first-child {
    background-color: rgba(0, 162, 255, 0.815);
}

td:nth-child(1) {
background-color: lightskyblue ;
}

td:nth-child(7) {
    background: gray;
  }